<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" [routerLink]="['/']">Gateway Admin</a>

    <button class="navbar-toggler" type="button" (click)="toggleNavbar()">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" [ngClass]="{'show': navbarOpened}">
        <div class="navbar-nav mr-auto">
            <app-header-link *ngFor="let item of menuItems" [item]="item"></app-header-link>
        </div>

        <span *ngIf="user$ | async as user" class="profile-link">
            <span *keycloakAuthenticated="true" [tooltip]="user.email">{{user.username}}</span>
        </span>

        <a class="logout-link" *keycloakAuthenticated="true" (click)="logout()">Logout</a>
        <a class="logout-link" *keycloakAuthenticated="false" (click)="login()">Login</a>

    </div>
</nav>
