@import "../../../../styles/responsive";
@import "../../../../styles/variables";

main {
    display: flex;
    justify-content: center;
    width: 100%;
}

@include device-specific($phone) {
    main {
        section {
            padding-top: 20px;
            width: 90%;
        }
    }
}

@include device-specific($tablet) {
    main {
        section {
            padding-top: 40px;
            width: 90%;
        }
    }
}

@include device-specific($pc) {
    main {
        section {
            padding-top: 60px;
            width: 80%;
        }
    }
}
